<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Slot7"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="Slot9.Demo10CartActivity"
            android:exported="false" />
        <activity
            android:name="Slot9.Demo10MainActivity"
            android:exported="false" />
        <activity
            android:name="Slot9.Demo91MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="Slot8.Demo83MainActivity"
            android:exported="false" />
        <activity
            android:name="Slot8.Demo82MainActivity"
            android:exported="true"
            android:theme="@style/MyTheme" />
        <activity
            android:name="Slot8.Demo81MainActivity"
            android:exported="true" />
        <activity
            android:name="Slot7.Demo71MainActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>